<h2>{{"pos.product" | trans | capitalize}}</h2>
<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{"pos.price" | trans | capitalize }}</th>
            <td>{{ entity.price }}</td>
        </tr>
    </tbody>
</table>



