{%  extends "::base.html.twig" %}
{% block inside_theater %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.name }}</div></dt>
            <dd>{{ entity.sex }}</dd>
        {% else %}
            &nbsp;
        {% endfor %}
    </dl>
<ul>
</ul>
{% endblock inside_theater %}



