{% extends "HavenPersonaBundle:Persona:form/add_template.html.twig" %}


{% block formhead %}
    {{ path('haven_persona_persona_create') }}
{% endblock formhead %}

{% block save_button %}
    {{ form_widget(edit_form.save) }}
{% endblock save_button %}

{% block fields %}
<fieldset>
    {{ form_rest(edit_form) }}
</fieldset>
{% endblock fields %}


{% block back %}
               {# <a href="{{ _route_crud.path('haven_persona_faq_list', 'list') }}">
                    Back to the list
                </a>#}
{% endblock back %}
