<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"=20
 "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Invitation</title>
</head>
<body  style="font-family: Arial, Helvetica,sans_serif ; font-size: 12px;   color:#768b7a; background: url('%host%/images/mail_templates/fond_general.jpg');">
 


<table align="center" cellpadding="20" cellspacing="3" width="601">
   <tr>
    <td style="background-color:#FFFFFF; border: 0px solid #FFFFFF;"><a href="http://actumus.com"><img src="%host%/images/mail_templates/logo_1.png" width="133" border="0"></a></td>
  </tr>
  <tr>
    <td style="background-color:#FFFFFF; border: 0px solid #FFFFFF;"> 
      <p style="font-size:125%;line-height:125%"><strong><img src="%host%/images/mail_templates/logo_defi_30_jours_0.png" width="152" height="166" align="right"><br>
        %mon_nom%</strong>  {{"tient.a.vous inviter a participer"|trans|capitalize}}
      </p>
      <p style=" font-size:110%;line-height:130%; "><strong style=" color:#396d42">Le message de %mon_nom% :</strong>
          <br />
          %message%
      </p>
      <p style="text-align:right"><a href="mailto:%mon_email%"  style="text-decoration: none;  color : #247c31; font-size:95% ;" >R&eacute;pondre &agrave; %mon_nom%</a></p>
    </td>
  </tr>
   <tr>
        <td style="background-color:#FFFFFF; border: 0px solid #FFFFFF;"><p>{{"La.gamme.de.produits ACTUMUS"|trans}} </p></td>
  </tr>
</table>

<!--table align="center" cellpadding="5" cellspacing="5">
  <tr>
    <td><em style="font-size:95%;  color : #3e6244;  ">{{"si.vous.ne.voulez plus recevoir"|trans|capitalize}} <a href="#" style=" text-decoration: none;  color : #247c31;  " >cliquez ici</a></em></td>
  </tr>
</table -->
</body>
</html>
