<div class="html_content">
    <!-- img src="{{ asset("images\\pen_draw.jpg") }}" class="edit-icon" >
    <div class="editable {{ content.getId() }}" contenteditable="true"-->
    <div>
        {{ content.getContent(language) }}----
    </div>
</div>  